<a href="https://colab.research.google.com/github/venkatesh-manikumar/Datascience-Assignments/blob/main/Preprocessing_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
import pandas as pd
import numpy as np

1.	Read the demand transaction file and print the first 15 rows and dtypes

In [25]:
raw = pd.read_csv('/content/drive/MyDrive/DataScience/Preprocessing_assignment/Demand_txn_updated.csv')
raw.head(5)

,City,Mapped_Sales_Type,Mapped_Item_Code,Transaction_Date,Quantity_Sold,Median_Price,Average_Tax_Percent,Effective_Price,Percent_Quantity_With_Discount,Avg_Discount_Percent_On_Discounted_Items,...,Day,Car_sales,F_and_B_Inflation,F_and_B_Inflation_Adjusted_Effective_Price,F_and_B_Inflation_Adjusted_Median_Price,First_Week_Of_The_Month_Dummy,Last_Week_Of_The_Month_Dummy,Day_Of_The_Week_Seasonality,Month_Of_The_Year_Seasonality,Two_Wheeler_sales
0,Hyderabad,Take Away,9978,7/31/2018,167,187.0,0.05,163.700000,NaN,NaN,...,Tue,7559.28,143.7,0.832985,0.793319,0,1,0.86,0.91,37307.52
1,Hyderabad,Take Away,4064,7/31/2018,368,602.0,0.05,584.329105,0.027237,1.05,...,Tue,7559.28,143.7,3.760119,3.681280,0,1,0.83,0.91,37307.52
2,Hyderabad,Main Hall,965,7/31/2018,694,263.0,0.05,244.835163,NaN,NaN,...,Tue,7559.28,143.7,1.397600,1.322199,0,1,1.08,1.08,37307.52
3,Hyderabad,Express,9978,7/31/2018,140,263.0,0.05,243.500000,NaN,NaN,...,Tue,7559.28,143.7,1.388309,1.322199,0,1,0.78,0.08,37307.52
4,Hyderabad,Express,1045,7/31/2018,139,392.0,0.05,378.960000,NaN,NaN,...,Tue,7559.28,143.7,2.330967,2.219903,0,1,0.73,0.08,37307.52

In [26]:
raw.dtypes

City                                           object
Mapped_Sales_Type                              object
Mapped_Item_Code                                int64
Transaction_Date                               object
Quantity_Sold                                   int64
Median_Price                                  float64
Average_Tax_Percent                           float64
Effective_Price                               float64
Percent_Quantity_With_Discount                float64
Avg_Discount_Percent_On_Discounted_Items      float64
Year                                            int64
Month                                           int64
Day                                            object
Car_sales                                     float64
F_and_B_Inflation                             float64
F_and_B_Inflation_Adjusted_Effective_Price    float64
F_and_B_Inflation_Adjusted_Median_Price       float64
First_Week_Of_The_Month_Dummy                   int64
Last_Week_Of_The_Month_Dummy                    int64
Day_Of_The_Week_Seasonality                   float64
Month_Of_The_Year_Seasonality                 float64
Two_Wheeler_sales                             float64
dtype: object

2.	Convert the transaction date column to a date column using pd.to_datetime function

In [27]:
raw.Transaction_Date.dtype # current datatype is 'object'
raw.Transaction_Date.head(3) # 7/31/2018

raw.Transaction_Date = pd.to_datetime(raw.Transaction_Date , 
               errors ='coerce' , # default
               exact = True , # default
               #format = "%m/%d/%Y",
               infer_datetime_format=True)

raw.Transaction_Date.dtype # dtype('<M8[ns]')

raw.Transaction_Date.isna().sum() # No null values

0

3.	Subset the dataframe for transaction date greater than '2016-08-01'

In [28]:
condition = raw.Transaction_Date > '2016-08-01'

subset = raw[condition]

#raw[condition].Transaction_Date.count() # 30192
#raw.loc[condition].Transaction_Date.count() # 30192

subset.shape

(30192, 22)

4.	Look for unique values in Mapped_Sales_Type

In [29]:
raw.Mapped_Sales_Type.unique()

raw.Mapped_Sales_Type.value_counts()

Take Away    9812
Delivery     9469
Dine-in      5271
Main Hall    3529
Express      2061
Bakery         89
Name: Mapped_Sales_Type, dtype: int64

5.	Subset the entire dataframe,based on the below condition, to a new dataframe and work on the following questions

a.	Condition: Avg_Discount_Percent_On_Discounted_Items should be less than 1.0

b.	Check for sanity if the new dataframe contains Avg_Discount_Percent_On_Discounted_Items greater than or equal to 1.0

In [30]:
condition = raw.Avg_Discount_Percent_On_Discounted_Items < 1.0

raw.Avg_Discount_Percent_On_Discounted_Items.isna().sum() # 18029 Null values

raw.Avg_Discount_Percent_On_Discounted_Items = raw.Avg_Discount_Percent_On_Discounted_Items.fillna(0) # replacing null with 0

df = raw[condition]

sanity = raw.Avg_Discount_Percent_On_Discounted_Items >= 1.0

df[sanity].count()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  # This is added back by InteractiveShellApp.init_path()

City                                          0
Mapped_Sales_Type                             0
Mapped_Item_Code                              0
Transaction_Date                              0
Quantity_Sold                                 0
Median_Price                                  0
Average_Tax_Percent                           0
Effective_Price                               0
Percent_Quantity_With_Discount                0
Avg_Discount_Percent_On_Discounted_Items      0
Year                                          0
Month                                         0
Day                                           0
Car_sales                                     0
F_and_B_Inflation                             0
F_and_B_Inflation_Adjusted_Effective_Price    0
F_and_B_Inflation_Adjusted_Median_Price       0
First_Week_Of_The_Month_Dummy                 0
Last_Week_Of_The_Month_Dummy                  0
Day_Of_The_Week_Seasonality                   0
Month_Of_The_Year_Seasonality                 0
Two_Wheeler_sales                             0
dtype: int64

6.	Groupby'City', 'Mapped_Sales_Type', 'Mapped_Item_Code', 'Transaction_Date' and perform following aggregate operations on respective columns as mentioned (note: Only one groupby to do all the below aggregations)

a.	Quantity_Sold – sum

b.	Median_Price – median

c.	Effective_Price – median

In [31]:
#raw.groupby('City', 'Mapped_Sales_Type', 'Mapped_Item_Code', 'Transaction_Date')['Quantity_Sold','Median_Price','Effective_Price'].sum()

raw.groupby(by = ['City', 'Mapped_Sales_Type', 'Mapped_Item_Code', 'Transaction_Date']).agg( Quantity_Sold = ('Quantity_Sold',sum),
                                                                                             Median_Price = ('Median_Price' , np.median),
                                                                                             Effective_Price = ('Effective_Price',np.median ) ).round(2)

                                                             Quantity_Sold  \
City    Mapped_Sales_Type Mapped_Item_Code Transaction_Date
Chennai Bakery            4057             2017-08-05                  110
                          9978             2018-01-22                  105
        Delivery          4055             2017-08-04                  377
                                           2017-08-05                  377
                                           2017-08-06                  638
...                                                                    ...
Mumbai  Take Away         4068             2017-01-09                  200
                                           2017-01-10                  199
                                           2017-01-11                  239
                                           2017-01-12                  233
                                           2017-01-13                  273

                                                             Median_Price  \
City    Mapped_Sales_Type Mapped_Item_Code Transaction_Date
Chennai Bakery            4057             2017-08-05               223.0
                          9978             2018-01-22               178.0
        Delivery          4055             2017-08-04               260.0
                                           2017-08-05               260.0
                                           2017-08-06               260.0
...                                                                   ...
Mumbai  Take Away         4068             2017-01-09               405.0
                                           2017-01-10               405.0
                                           2017-01-11               405.0
                                           2017-01-12               405.0
                                           2017-01-13               405.0

                                                             Effective_Price
City    Mapped_Sales_Type Mapped_Item_Code Transaction_Date
Chennai Bakery            4057             2017-08-05                 221.00
                          9978             2018-01-22                 154.25
        Delivery          4055             2017-08-04                 264.11
                                           2017-08-05                 264.14
                                           2017-08-06                 264.22
...                                                                      ...
Mumbai  Take Away         4068             2017-01-09                 424.14
                                           2017-01-10                 424.14
                                           2017-01-11                 424.14
                                           2017-01-12                 424.14
                                           2017-01-13                 423.20

[30231 rows x 3 columns]

7.	Display the data for Effective_Price = not null and just print the last 5 rows (hint: use .notnull function)

In [37]:
raw[raw.Effective_Price.notnull()].tail(5)

raw.loc[raw.Effective_Price.notnull()].tail(5)

,City,Mapped_Sales_Type,Mapped_Item_Code,Transaction_Date,Quantity_Sold,Median_Price,Average_Tax_Percent,Effective_Price,Percent_Quantity_With_Discount,Avg_Discount_Percent_On_Discounted_Items,...,Day,Car_sales,F_and_B_Inflation,F_and_B_Inflation_Adjusted_Effective_Price,F_and_B_Inflation_Adjusted_Median_Price,First_Week_Of_The_Month_Dummy,Last_Week_Of_The_Month_Dummy,Day_Of_The_Week_Seasonality,Month_Of_The_Year_Seasonality,Two_Wheeler_sales
30226,Mumbai,Take Away,4056,2016-08-01,615,239.0,0.14,232.033552,0.013889,0.883279,...,Mon,8033.92,140.1,1.342138,1.184868,1,0,0.78,0.99,27870.4
30227,Mumbai,Take Away,4058,2016-08-01,1289,212.8,0.14,202.575840,0.009338,1.144999,...,Mon,8033.92,140.1,1.131876,0.997859,1,0,0.78,0.99,27870.4
30228,Mumbai,Dine-in,964,2016-08-01,140,933.0,0.21,1063.855517,NaN,0.000000,...,Mon,8033.92,140.1,7.279483,6.138473,1,0,0.77,0.94,27870.4
30229,Mumbai,Take Away,4066,2016-08-01,179,501.0,0.14,534.060000,NaN,0.000000,...,Mon,8033.92,140.1,3.497930,3.054961,1,0,0.66,0.99,27870.4
30230,Mumbai,Delivery,4061,2016-08-01,117,716.5,0.15,780.810000,NaN,0.000000,...,Mon,8033.92,140.1,5.259172,4.593148,1,0,0.61,0.89,27870.4

8.	Display the data for city = Chennai AND Mapped_Sales_Type = Delivery and print top 5 records (hint use loc function to subset, then “&” operator to filter both the above cities)

In [46]:
condition_A = 1 == (raw.City == 'Chennai')
condition_B = 1 == (raw.Mapped_Sales_Type == 'Delivery')

# Approach 1
combined = np.logical_and(condition_A , condition_B)
df1 = raw[combined] 

# Approach 2
df2 = raw.loc[(raw.City == 'Chennai') & (raw.Mapped_Sales_Type == 'Delivery')]

#Equality check 
df1.equals(df2)

True

9.	Display the data for the column “Day” with values Mon, Tue and Wed (hint: use .isin function)

In [47]:
raw.Day

0        Tue
1        Tue
2        Tue
3        Tue
4        Tue
        ...
30226    Mon
30227    Mon
30228    Mon
30229    Mon
30230    Mon
Name: Day, Length: 30231, dtype: object

10.	Display the data for Percent_Quantity_With_Discount not equal to 0.0 (hint: loc function with != operator)

In [72]:
raw.Percent_Quantity_With_Discount.isnull().value_counts() # 18022 null values

# Replacing NAN with 0.000000
raw.Percent_Quantity_With_Discount = raw.Percent_Quantity_With_Discount.fillna(0.000000)

raw.loc[raw.Percent_Quantity_With_Discount != 0.000000].Percent_Quantity_With_Discount.head()

1     0.027237
5     0.003953
10    0.151515
20    0.003512
24    0.001646
Name: Percent_Quantity_With_Discount, dtype: float64

11.	Add a column “Range” to the existing dataframe for below condition

a.	1 for Effective_Price> 500

b.	0.5 otherwise

In [116]:
raw.loc[raw['Effective_Price'].isnull()].Effective_Price.size # 2 Null records

raw.Range= np.where(raw.Effective_Price > 500 , 1 , 0.5)

# Validation Check
raw['Range'].isna().value_counts()

False    30231
Name: Range, dtype: int64

12.	Read the demand transaction file again and perform following operations for practice

a.	Handle the missing values in the column Percent_Quantity_With_Discount with strategy = mean

b.	One hot encode the columns Mapped_Sales_Type

c.	Label binarize the column Day

d.	Label encode the column City

In [163]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values = np.nan , strategy = 'median')
imputer.fit(np.asarray(raw.Percent_Quantity_With_Discount).reshape(-1,1))

# print(type(raw.Percent_Quantity_With_Discount)) # Series Dataype and it is one Dimensional
# fit() - Expectes 2D array as input , hence Series is converted to numpy array and reshaped as 2 Dimensional
# print(np.asarray(raw.Percent_Quantity_With_Discount).reshape(-1,1))

pd.DataFrame(imputer.transform(np.asarray(raw.Percent_Quantity_With_Discount).reshape(-1,1)) , columns = ['Percent_Quantity_With_Discount'] )

       Percent_Quantity_With_Discount
0                            0.000000
1                            0.027237
2                            0.000000
3                            0.000000
4                            0.000000
...                               ...
30226                        0.013889
30227                        0.009338
30228                        0.000000
30229                        0.000000
30230                        0.000000

[30231 rows x 1 columns]

In [177]:
from sklearn.preprocessing import LabelBinarizer

lb = LabelBinarizer()

lb_result = lb.fit_transform(raw['Mapped_Sales_Type'])

pd.DataFrame(lb_result , columns = lb.classes_).head()

   Bakery  Delivery  Dine-in  Express  Main Hall  Take Away
0       0         0        0        0          0          1
1       0         0        0        0          0          1
2       0         0        0        0          1          0
3       0         0        0        1          0          0
4       0         0        0        1          0          0