<a href="https://colab.research.google.com/github/venkatesh-manikumar/Datascience-Assignments/blob/main/Preprocessing_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

1.	Read the demand transaction file and print the first 15 rows and dtypes

In [6]:
raw = pd.read_csv('/content/drive/MyDrive/DataScience/Preprocessing_assignment/Demand_txn_updated.csv')
raw.head(5)

,City,Mapped_Sales_Type,Mapped_Item_Code,Transaction_Date,Quantity_Sold,Median_Price,Average_Tax_Percent,Effective_Price,Percent_Quantity_With_Discount,Avg_Discount_Percent_On_Discounted_Items,...,Day,Car_sales,F_and_B_Inflation,F_and_B_Inflation_Adjusted_Effective_Price,F_and_B_Inflation_Adjusted_Median_Price,First_Week_Of_The_Month_Dummy,Last_Week_Of_The_Month_Dummy,Day_Of_The_Week_Seasonality,Month_Of_The_Year_Seasonality,Two_Wheeler_sales
0,Hyderabad,Take Away,9978,7/31/2018,167,187.0,0.05,163.700000,NaN,NaN,...,Tue,7559.28,143.7,0.832985,0.793319,0,1,0.86,0.91,37307.52
1,Hyderabad,Take Away,4064,7/31/2018,368,602.0,0.05,584.329105,0.027237,1.05,...,Tue,7559.28,143.7,3.760119,3.681280,0,1,0.83,0.91,37307.52
2,Hyderabad,Main Hall,965,7/31/2018,694,263.0,0.05,244.835163,NaN,NaN,...,Tue,7559.28,143.7,1.397600,1.322199,0,1,1.08,1.08,37307.52
3,Hyderabad,Express,9978,7/31/2018,140,263.0,0.05,243.500000,NaN,NaN,...,Tue,7559.28,143.7,1.388309,1.322199,0,1,0.78,0.08,37307.52
4,Hyderabad,Express,1045,7/31/2018,139,392.0,0.05,378.960000,NaN,NaN,...,Tue,7559.28,143.7,2.330967,2.219903,0,1,0.73,0.08,37307.52

In [7]:
raw.dtypes

City                                           object
Mapped_Sales_Type                              object
Mapped_Item_Code                                int64
Transaction_Date                               object
Quantity_Sold                                   int64
Median_Price                                  float64
Average_Tax_Percent                           float64
Effective_Price                               float64
Percent_Quantity_With_Discount                float64
Avg_Discount_Percent_On_Discounted_Items      float64
Year                                            int64
Month                                           int64
Day                                            object
Car_sales                                     float64
F_and_B_Inflation                             float64
F_and_B_Inflation_Adjusted_Effective_Price    float64
F_and_B_Inflation_Adjusted_Median_Price       float64
First_Week_Of_The_Month_Dummy                   int64
Last_Week_Of_The_Month_Dummy                    int64
Day_Of_The_Week_Seasonality                   float64
Month_Of_The_Year_Seasonality                 float64
Two_Wheeler_sales                             float64
dtype: object

2.	Convert the transaction date column to a date column using pd.to_datetime function

In [62]:
raw.Transaction_Date.dtype # current datatype is 'object'
raw.Transaction_Date.head(3) # 7/31/2018

raw.Transaction_Date = pd.to_datetime(raw.Transaction_Date , 
               errors ='coerce' , # default
               exact = True , # default
               #format = "%m/%d/%Y",
               infer_datetime_format=True)

raw.Transaction_Date.dtype # dtype('<M8[ns]')

raw.Transaction_Date.isna().sum() # No null values

0

3.	Subset the dataframe for transaction date greater than '2016-08-01'

In [64]:
condition = raw.Transaction_Date > '2016-08-01'

subset = raw[condition]

#raw[condition].Transaction_Date.count() # 30192
#raw.loc[condition].Transaction_Date.count() # 30192

subset.shape

(30192, 22)

4.	Look for unique values in Mapped_Sales_Type

In [67]:
raw.Mapped_Sales_Type.unique()

raw.Mapped_Sales_Type.value_counts()

Take Away    9812
Delivery     9469
Dine-in      5271
Main Hall    3529
Express      2061
Bakery         89
Name: Mapped_Sales_Type, dtype: int64

5.	Subset the entire dataframe,based on the below condition, to a new dataframe and work on the following questions

a.	Condition: Avg_Discount_Percent_On_Discounted_Items should be less than 1.0

b.	Check for sanity if the new dataframe contains Avg_Discount_Percent_On_Discounted_Items greater than or equal to 1.0

In [91]:
condition = raw.Avg_Discount_Percent_On_Discounted_Items < 1.0

raw.Avg_Discount_Percent_On_Discounted_Items.isna().sum() # 18029 Null values

raw.Avg_Discount_Percent_On_Discounted_Items = raw.Avg_Discount_Percent_On_Discounted_Items.fillna(0) # replacing null with 0

df = raw[condition]

sanity = raw.Avg_Discount_Percent_On_Discounted_Items >= 1.0

df[sanity].count()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  # This is added back by InteractiveShellApp.init_path()

City                                          0
Mapped_Sales_Type                             0
Mapped_Item_Code                              0
Transaction_Date                              0
Quantity_Sold                                 0
Median_Price                                  0
Average_Tax_Percent                           0
Effective_Price                               0
Percent_Quantity_With_Discount                0
Avg_Discount_Percent_On_Discounted_Items      0
Year                                          0
Month                                         0
Day                                           0
Car_sales                                     0
F_and_B_Inflation                             0
F_and_B_Inflation_Adjusted_Effective_Price    0
F_and_B_Inflation_Adjusted_Median_Price       0
First_Week_Of_The_Month_Dummy                 0
Last_Week_Of_The_Month_Dummy                  0
Day_Of_The_Week_Seasonality                   0
Month_Of_The_Year_Seasonality                 0
Two_Wheeler_sales                             0
dtype: int64

6.	Groupby'City', 'Mapped_Sales_Type', 'Mapped_Item_Code', 'Transaction_Date' and perform following aggregate operations on respective columns as mentioned (note: Only one groupby to do all the below aggregations)

a.	Quantity_Sold – sum

b.	Median_Price – median

c.	Effective_Price – median

In [106]:
#raw.groupby('City', 'Mapped_Sales_Type                             ', 'Mapped_Item_Code', 'Transaction_Date')['Quantity_Sold','Median_Price','Effective_Price'].sum()
#data_points.groupby('Hair_Color')['Age','Validation'].sum().reset_index()

raw.groupby('City','Transaction_Date').Quantity_Sold.sum()

ValueError: ignored