<a href="https://colab.research.google.com/github/venkatesh-manikumar/Datascience-Assignments/blob/main/Python_test_04_16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Write a program (with function) which takes a sequence of numbers and check if all numbers are unique.

In [17]:
def unique_test(data):
  if len(data) == len(set(data)):
    return "Unique"
  else:
    return "Not Unique";
print(unique_test([1,1,2,2]))
print(unique_test([1,2,3,4,5]))

Not Unique
Unique

2.Python program to find out the average of a set of integers
a. Note: Donâ€™t use the pre-defined functions like np.mean
b. For ex: If input is 5, the output should be average of 1+2+3+4+5

In [33]:
def average_calc(i):
  data = [x for x in range(1,i+1)]
  return data , sum([x for x in range(1,i+1)]) / i

print(average_calc(5))
print(average_calc(10))

([1, 2, 3, 4, 5], 3.0)
([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 5.5)

3.Python program to check whether the given integer is a multiple of both 5 and 7

In [41]:
def multiply_check(i):
  return i , i % 5 == 0 and i % 7 == 0

multiply_check(35)

(35, True)

4.Python program to display the given integer in reverse manner
a. Ex: input 852, output should be 258

In [47]:
def reverse(num):
  reverse = 0
  while num > 0:
    rem = num % 10                  
    reverse = reverse * 10 + rem    
    num //= 10                      

  print("Reversed number: ", reverse)

reverse(1234)

Reversed number:  4321

5. Create an inner function to calculate the addition in the following way
a. Create an outer function that will accept two parameters, a and b
b. Create an inner function inside an outer function that will calculate the addition of a and b
c. At last, an outer function will add 5 into addition and return it

In [66]:
def decorating_func(f):
  def nested_func(a,b):
    print("ADDITION",a+b)
    return f(a+b,0)
  return nested_func

@decorating_func
def ordinary_func(a,b):
  print("Inside ordinary function")
  return a+5

ordinary_func(30,10)

ADDITION 40
Inside ordinary function

45

6.Python Program to Check Leap Year
a. A leap year is exactly divisible by 4 except for century years (years ending with 00). The century year is a leap year only if it is perfectly divisible by 400
b. For ex: 2017 is not a leap year, 1900 is a not leap year, 2012 is a leap year, 2000 is a leap year

In [52]:
import calendar
def checkYear(year):
   return(calendar.isleap(year))

checkYear(1900)

False