<a href="https://colab.research.google.com/github/venkatesh-manikumar/Datascience-Assignments/blob/main/Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.	Create a program that asks the user to enter their name and their age. Print out a message that tells them the year that they will turn 100 years old

In [8]:
from datetime import date
year = date.today().year
name = str(input('Enter the name : '))
age = int(input('Enter the age : '))
print(year + (100-age))

Enter the name : ABC
Enter the age : 12
2110

2.	What is pandas groupby? Demonstrate with your own example

In [29]:
import pandas as pd
data={'Age':[25,25,26,26,30,27,27],
      'Emp_name':['Tom','James','Ricky','Vin','Steve','Smith','Jack'],
      'Rating':[4.23,3.24,3.98,2.56,3.20,4.60,3.80]}
raw= pd.DataFrame(data)
raw

   Age Emp_name  Rating
0   25      Tom    4.23
1   25    James    3.24
2   26    Ricky    3.98
3   26      Vin    2.56
4   30    Steve    3.20
5   27    Smith    4.60
6   27     Jack    3.80

In [30]:
group = raw.groupby('Age')
group.first()

    Emp_name  Rating
Age
25       Tom    4.23
26     Ricky    3.98
27     Smith    4.60
30     Steve    3.20

In [31]:
group.last()

    Emp_name  Rating
Age
25     James    3.24
26       Vin    2.56
27      Jack    3.80
30     Steve    3.20

In [32]:
group.get_group(name = 30)

   Age Emp_name  Rating
4   30    Steve     3.2

3.	How to create a dataframe from list?

In [42]:
list_data = ['a','b','c','d']
pd.DataFrame(list_data)

   0
0  a
1  b
2  c
3  d

In [44]:
muldim_list = [['a','b','c'],['a1','b1','c1']]
pd.DataFrame(muldim_list, columns = ['col1','col2','col3'])

  col1 col2 col3
0    a    b    c
1   a1   b1   c1

In [48]:
l1 = ['a','b','c']
l2 = ['a1','b1','c1']
pd.DataFrame(list(zip(l1,l2)), columns = ['col1','col2'])

  col1 col2
0    a   a1
1    b   b1
2    c   c1

4.	What are the ways to combine the dataframe in pandas. Give an example for each